<div class="navigation-bar">
  <div class="pages">
    <div
      [routerLink]="['/home']"
      routerLinkActive="active"
      class="cursor-pointer home"
    >
      <mat-icon svgIcon="trident" class="logo-svg"></mat-icon>
      {{ title }}
    </div>
    <div class="page-links">
      <div [routerLink]="['/first']" routerLinkActive="active" class="link">
        <span i18n>First page</span>
      </div>
      <div [routerLink]="['/second']" routerLinkActive="active" class="link">
        <span i18n>Second page</span>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
